* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(236, 236, 236);
}
.footer__content {
  align-items: center;
  background: rgb(16, 97, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 0;
  margin-top: 20px;

  color: white;
}

.main__view {
  align-items: flex-start;
  display: flex;
  flex: 1;
  justify-content: center;
  width: 100%;
  margin: 50px;
}
